@import 'variables';
/* =============== Sign up FORM =============== */
.sign-form {
    hgroup {
        text-align: center;
        margin-top: 4em;
    }
    h1,
    h3 {
        font-weight: 300;
    }
    h1 {
        color: #636363;
    }
    h3 {
        color: #4a89dc;
    }
    form {
        width: 380px;
        margin: 4em auto;
        padding: 3em 2em 2em;
        background: #fafafa;
        border: 1px solid #ebebeb;
        box-shadow: rgba(0,0,0,0.14902) 0 1px 1px 0px,rgba(0,0,0,0.09804) 0 1px 2px 0;
        .group {
            position: relative;
            margin-bottom: 45px;
        }
        input {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            -webkit-appearance: none;
            display: block;
            background: #fafafa;
            color: #636363;
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #757575;
            &:focus {
                outline: none;
            }
        }
        .cloudinary-fileupload,
        .submit {
            background-color: $button-red !important;
            color: $white;
            border: none;
            &:hover {
                background-color: $white !important;
                color: $button-red;
                border: 1px solid $button-red;
            }
        }
        /* Label */
        label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: all 0.2s ease;
        }
    }
    /* active */
    input.used ~ label,
    input:focus ~ label {
        top: -20px;
        transform: scale(.75);
        left: -2px;
        /* font-size: 14px; */
        color: $button-red;
    }
    /* Underline */
    .bar {
        position: relative;
        display: block;
        width: 100%;
    }
    .bar:after,
    .bar:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        // background: $p-color;
        transition: all 0.2s ease;
    }
    .bar:before {
        left: 50%;
    }
    .bar:after {
        right: 50%;
    }
    /* active */
    input:focus ~ .bar:after,
    input:focus ~ .bar:before {
        width: 50%;
    }
    /* Highlight */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    /* active */
    input:focus ~ .highlight {
        animation: inputHighlighter 0.3s ease;
    }
}
/* =============== Search FORM =============== */
.search-occasion-form {}
