.image-shadow {
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.red-button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #cd003b;
  padding: 15px 30px 15px 30px;
  text-decoration-color: none;
  text-emphasis-style: none;
}

.red-button:hover {
  background: #9e002e;
  text-decoration: none;
}

/*---------------------------------------------------------------------------*/
/* VIDEO */

.title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.video-heading {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 5em;
}

.video-subheading {
  font-weight: 300;
  font-size: 2em;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

/*---------------------------------------------------------------------------*/
/* DIV 2 */

.homepage-content {
  background-color: #FFFFFF;
  min-height: 200vh;
  position: relative; /* Allows me to manipulate absolute postioned child elements */
}

.homepage-content {
  h2, h4 {
    position: absolute;
    left: 22vw;
  }
  h2 {
    bottom: 110vh;
  }
  h4 {
    bottom: 105vh;
  }
}

.content-section {
  min-height: 20vh;
  width: 100vw;
  background-color: #14141E;
  position: absolute;
   h1 {
     text-align: center;
     color: #FFFFFF;
   }
}

.photo-section {
  background-color: yellow;
}

.explore-section-button {
  @extend .red-button; /* DRY coding */
  position: absolute;
  left: 40%; /* centre position */
  left: 40%;
  bottom: 90vh;
}

.explore-image {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: 0;
}
