// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* SASS VARIABLES */
/*========= COLORS =======*/
$p-color: #50BCC6;
$s-color: #273B47;
$pink: #E2425A;
$green: #009688;
$black: #000000;
$white: #FFFFFF;
$grey: #E2E2E2;
$light-grey: #B6B6B6;
$blue-grey: #607D8B;
$f-grey: #fafafa;
$b-grey: #ebebeb;
$footer-black: #1F1F1F;
$footer-grey: #707070;
$header-grey: #9B9B9B;
$body-grey: #F7F7F7;
$text-black: #333333;
$button-red: #E12C61;
$button-red-hover: #9e002e;
$text-color: #333333;
$div-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$div-border: 1px solid #DDDDDD;
$div-header-text-blue: #0898EC;
$div-header-background-blue: #D3EBFE;
/*========= FONT FAMILY =======*/
$p-font: "Raleway", "Helvetica Neue",Arial,Verdana,sans-serif;
/*========= FONT SIZE =======*/
$a: 18px;
$p20: 20px;
/* ======================================================*/
