<div class="container row occasion-images-wrapper">
  <% @occasions.each do |occasion| %>
      <a href="<%= occasion_path(occasion.id) %>">
      <article class="col-md-4 wrap">
        <figure>
          <img src='<%= occasion.image %>' alt="some_text" class="occasion-image" />
        </figure>
        <section class="text-container">
          <h3><%= occasion.title %></h3>
          <div><%= truncate(occasion.description, :length => 80) %></div>
        </section>
      </article>
    </a>
  <% end  %>
</div>
