<p>search will go here</p>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= render 'show_events_from_calendar' %>
    </div><!-- end col-md-7 main content -->
    <div class="col-md-5">
      <%= render 'calendar'%>
      <%= render 'search_occasion_form' %>
    </div><!-- end col-md-5 side bar -->
  </div> <!-- end row -->
</div><!-- end container -->





<!-- search weather by entering city name  -->


    <div id="weathercontainer">


     <form>
      <p>Enter City name to find weather</p>
      <input id="weatherfinder" placeholder="enter city name here">
      <button id="generate" type="submit">Find current weather</button>
    </form>
    <div id= "weatherinfo">
      <div ><p>weather: <span id = "weather"></span></p></div>
      <div ><p>temp: <span id = "temp"></span></p></div>
      <div ><p>humidity: <span id = "humidity"></span></p></div>
      <div ><p>wind speed: <span id = "windspeed"></span></p></div>
    </div>

    </div>
