<h1><%= @occasion.title %></h1>
<div>
  <%=@occasion.description  %>
</div>
<%= link_to " edit ", edit_occasion_path(@occasion) %>
<%= link_to " delete", occasion_path(@occasion), method: :delete, data:{ confirm:"are you sure? "} %>
